@media (min-width:992px){
	// .news-page .image-item{
	// 	width: 30.9%;
	// }

	// .news-page .content-news{
	// 	width: 69.1%;
	// }
	
	.list-item{
		width: 71.4%;
	}

	.sidebar-page{
		width: 28.6%;
	}

}

// @media screen and (min-width:1024px){
// 	.news-page .content-news{
// 		width: 65.666667%;
// 	}

// 	.news-page .image-item{
// 		width: 34.333333%;
// 	}
// }

@media(min-width: 1200px) {
	.container {
		width:100%;
	}
}