@media (max-width:1024px){
	.news-page .title-post{
		margin-top: 0px;
    	margin-bottom: 0px;
	}

	.post_content{
		margin-bottom: 0px !important;
	}

	.page_contact .form_thongtin .form-group{
		margin-bottom: 0px !important;
	}
}


@media (max-width:767px){
	.image-item a img{
		width: 100%;
	}
	
	.footer_text{
		padding-left: 30px;
   		margin-top: 15px;
	}

	.news-page .paginate{
		margin-top: -25px;
		margin-bottom: 10px;
	}

	.sidebar-page{
		margin-top: 50px;
	}

	.news-page .title-post{
		margin-top: 10px;
    	margin-bottom: 10px;
	}
	.header {
		.header_top {
			padding-bottom: 20px;
		}
		.header_bottom {
			.container {
				.navbar-header {
					min-height: 55px;
				}
				.navbar-collapse {
					background-color: $color_menu;
				}
			}
		}
		.header_cart {
		    position: absolute;
		    top: 0;
		    right: 20px;
		}
		.mobile_site_cart {
			position: absolute;
			top: 15px;
			left: 15px;
			display: block !important;
			visibility: inherit !important;
		}
		.desktop_site_cart {
			display: none;
			visibility: hidden;
		}
	}

	.news-page .title-post{
		margin-top: 10px;
	}

	.page_contact .input_contact input{
		width: 100% !important;
	}

	.page_contact .form_thongtin textarea{
		width: 100% !important;
	}

	.page_contact .form_thongtin label{
		padding-right:0px;
	}
}
