@media(min-width: 992px) {
	.content_home .list_product .col-md-3 {
		width: 20%;
	}
	.product_detail {
		.product_involve {
			.col-md-3 {
				width: 20%;
			}
		}
	}
	.checkout_payment_immediate {
		.content {
			.item {
				.img {
					width: 24%;
				}
				.desc {
					width: 76%;
				}
			}
		}
	}
}