.video_detail{
	.video_involve{
		list-style:none;
		padding-left: 0px;

		.item_video{
			max-height: 230px;
			.img_video{
				position: relative;

				.image{
					background-size: cover;
				    height: auto;
				    background-position: center;
				    width:100%;
				}

				.icon_video{
					position: absolute;
					left: 50%;
				    top: 50%;
				    transform: translate(-50%, -50%);
				}
			}
		}
	}

	.title_involve{
		width: 250px;
	    background: #2e3192;
	    padding: 8px;
	    text-align: center;
	    color: #fff;
	    border-radius: 0px 10px 0px 0px;
	    margin-top: 15px;
	}

	.title_post_video{
		text-align: justify;	
		margin-top: 10px;
		
		a{
			text-decoration: none;
    		color: #000000;
		}
	}

	.list-item{
		h3{
			font-size: 24px;
   	 		color: #363e8b;
		}
	}
}