.page_video{
	.list_video{
		list-style:none;
		padding-left: 0px;

		li{
			.image{
				background-size: cover;
			    width: 100%;
			    height: auto;
			    background-position: center;
			}
		}
	}

	.title_list_video{
		margin-bottom: 20px;
    	border-bottom: 2px solid #363e8b;

		p{
			width: 195px;
		    background: #363e8b;
		    text-align: center;
		    border-radius: 0px 15px 0px 0px;
		    padding: 5px;
		    color: #fff;
		    font-weight: 600;
		    letter-spacing: 1px;
		    margin-bottom: 0px;
		}
	}

	.item_video{
		p{
			text-align: justify;
			margin-top: 10px;
			a{
			    color: #000000;
			    font-size: 13px;
			    max-height: 55px;
			    height: 55px;
			    font-family: tahoma-regular;
			    text-decoration: none;
			    font-weight: 600;
			}
			&.title_post_video {
				height: 61px;
				overflow: hidden;
			}
		}
	}

	.paginate {
        margin-top: 10px;
    }
    .paginate .page-numbers {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #000000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #000000;
    }
    .paginate .current {
        color: #000000;
    }

    .img_video{
    	position: relative;

    	.icon_video{
    		position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%,-50%);
    	}
    }
}