.page_contact{
	.content-contact{
		h3{
			color: #2e3192;
			font-family: tahoma-regular;
		}
		p{
			color:#000000;
			font-family: tahoma-regular;
			font-weight: 900;
		}
	}

	.form_thongtin{
		p{
			display: inline-block;
		}

		.form-group{
			margin-bottom: -10px;
		}

		textarea{
			height: 85px;
			width: 60%;
		}

		label{
			padding-left: 0px;
			span {
				color: $color_red_plus;
			}
		}
	}

	.form_contact{
		margin-top: 35px;

		.title_form{
			margin-bottom: 30px;
		}

		.form_nhap{
			margin-bottom: 10px;
			font-size: 13px;
			font-family: tahoma-regular;
		}

		input{
			border-radius: 0px;
		}

		.submit_form{
			input{
				background: #f4801c;
			    border: none;
			    padding: 6px;
			    color: #fff;
			}
		}
	}

	div.wpcf7-validation-errors{
		border: 2px solid #000000;
    	margin-top: 75px;
	}


	.input_contact{
		padding-left: 0px;

		input{
			width:60%;
		}
	}

	.input_submit{
		padding-left:0px;

		input{
			border: none;
		    background: #f4801c;
		    padding: 7px;
		    width: 55px;
		    color: #fff;
		    font-weight: 700;
		    letter-spacing: 1px;
		}
	}
}