.footer_link {
    .footer_top {
        background-color: #ebebeb;
        .container {
            padding: 30px 0;
            color: #2980b9;
            h3 {
                font-size: 13px;
                text-transform: uppercase;
            }
            ul {
                list-style-type: none;
                padding: 0;
                li {
                	a {
                		font-size: 13px;
                		color: #2980b9;
                	}
                	.fa-chevron-right {
                		font-size: 11px;
                		margin-right: 5px;
                	}
                }
            }
            .fb-page {
                iframe {
                    width: 100% !important;
                }
            }
        }
    }
}

.footer {
    background-color: $color_blue;
    padding: 30px 15px;
    .footer_top {}
    .footer_bottom {
        color: $color_white;
    }
    .menu_footer {
        h2 {
            font-size: 17px;
        }
        ul {
            padding-left: 0px;
            list-style: none;
            li {
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
.fb_iframe_widget {
    span {
        width: 100%;
        iframe {
            width: 100%;
        }
    } 
}