$color_white: #ffffff;
$color_blue: #001851;
$color_black: #000000;
$color_red: #b81317;
$color_blue: #363e8b;
$color_blue_plus: #0072bc;
$color_gray: #ddd;
$color_note: #898989;
$color_red_plus: red;
$color_yellow: #f4801c;
$color_menu: #cb5300;
$border_img: #898989;
$border_img_children: #5b5c5e;
// start font family
@font-face {
    font-family: tahoma;
    src: url(../fonts/73-13973-tahoma.ttf);
}

@font-face {
    font-family: tahomabd;
    src: url(../fonts/tahomabd.ttf);
}

@font-face {
    font-family: times;
    src: url(../fonts/times.ttf);
}

body {
    font-family: tahoma;
}

.container {
    max-width: 1270px;
}

.breadcrumb,
.woocommerce-breadcrumb {
    background: transparent;
    color: red;
    a {
        color: $color_black;
    }
}

.bg_trans {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    .header_top {
        min-height: 78px;
        padding-top: 5px;
        .logo {
            padding-left: 30px;
            display: inline-block;
            text-align: center;
            h3 {
                font-size: 12px;
                text-transform: uppercase;
                color: $color_white;
                margin-top: 5px;
            }
        }
        .search {
            margin-top: 17px;
            .input-group {
                input,
                button {
                    border-radius: 0;
                }
                button {
                    padding-left: 45px;
                    padding-right: 10px;
                    span.caret {
                        margin-left: 25px;
                    }
                }
            }
            .dropdown-menu {
                z-index: 10000;
            }
            form {
            	position: relative;
            	button[type=submit] {
            		position: absolute;
            		right:0;
            		top:0;
            		span {
            			right: -1px !important;
            			top: -1px !important;
            		}
            	}
            }
            .search_form {
                position: relative;
                .glyphicon-search {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: $color_white;
                    font-size: 19px;
                    padding: 7.5px;
                    z-index: 12;
                    background-color: $color_yellow;
                    cursor: pointer;
                }
                button[type=button] {
                    &:hover {
                    	background:$color_white;
                    }
                }
                select {
                    border: none;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    &:focus {
                    	outline: none;
                    }
                }
                select::-ms-expand {
                    display: none;
                }
            }
        }
        .cart {
            margin-top: 27px;
            margin-left: 70px;
            position: relative;
            float: left;
            margin-right: 10px;
            .cart-contents {
                .quantity {
                    background-color: $color_white;
                    width: 25px;
                    height: 25px;
                    border-radius: 15px;
                    text-align: center;
                    display: block;
                    padding-top: 3px;
                    position: absolute;
                    top: -19px;
                    right: -19px;
                }
            }
        }
        .search_site {
            opacity: 0;
        }
    }
    .header_bottom {
        .navbar {
            height: 56px;
            margin-bottom: 0;
            border-bottom: transparent;
            background-color: #cb5300;
            a {
                color: $color_white;
                font-size: 12px;
                text-transform: uppercase;
                padding-right: 20px;
                padding-left: 20px;
                &:hover {
                    color: $color_white;
                }
            }
            .current_page_item {
                background-image: url('../../images/home/item_active.png');
            }
        }
        #top-menu {
            opacity: 0;
        }
        .mobile_site_cart {
            display: none;
            visibility: hidden;
        }
        .desktop_site_cart {
            margin-top: 15px;
            margin-left: 15px;
        }
        .content_menu_header {
            .contai_menu {
                display: inline-block;
            }
        }
    }
    .nav > li > a {
        line-height: 26px;
    }
}

.wrap_paginate {
    overflow: auto;
    display: table;
    float: right;
    .paginate {
        margin-top: 10px;
        .current {
            background: $color_blue !important;
            color: $color_white !important;
        }
    }
    .paginate .page-numbers {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #000000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #000000;
    }
    .paginate .current {
        color: #000000;
    }
}
.wpns-search-box {
    margin-top: 15px;
    #wpns_search_form {
        position:relative;
        z-index: 2344;
        .results {
            position: absolute;
            z-index: 400;
            background-color: white;
            width: 100%;
        }
        .product-categories {
            float:left;
            position:absolute;
            left:0;
            top:0;
            z-index: 234;
            border-right: 1px solid gray;
            z-index: 2;
            // background: transparent;
            select {
                border:none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
                line-height: 35px;
                border-radius:none;
                text-align-last: center;
                -ms-text-align-last: center;
                -moz-text-align-last: center;
                border-radius: 0;
                height: 35px;
                position: relative;
                background: transparent;
                z-index: 2;
                option {
                    border-radius: 0;
                }
            }
        }
        .wpns-input-box {
            input {
                padding-left: 165px;
                height: 35px;
            }
        }
    }
}

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    max-width: 100%;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}