.slider {
    .slider_content {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.content_home {
    .list_product {
        .col-md-3 {}
    }
}

.list_product {
    ul {
        li {
            img {
                width: 100%;
                height: auto;
                @extend .bg_trans;
            }
        }
    }
}

.news_home {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            .desc {
                h3 {
                    margin: 0;
                    a {
                        font-size: 14px;
                        color: $color_black;
                    }
                }
            }
        }
    }
}

.product_new {
    overflow: auto;
    width: 100%;
    .list_product {
        h3.title_product {
            font-size: 17px;
            text-transform: uppercase;
            background-color: $color_blue;
            padding: 10px 28px;
            display: inline-block;
            color: $color_white;
            margin-left: -3px;
            border-top-right-radius: 15px;
            margin-bottom: 5px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            li {
                border: 1px solid $color_gray;
                position: relative;
                padding: 10px;
                .desc {
                    h3 {
                        height: 55px;
                        overflow: hidden;
                    }
                }
                .state {
                    position: absolute;
                    left: -3px;
                    top: -3px;
                    img {
                        width: auto;
                    }
                }
                .desc {
                    h3 {
                        margin-top: 0;
                        a {
                            color: $color_black;
                            font-size: 13px;
                        }
                    }
                    span {
                        color: $color_red;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
                .mess_sale {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -16.5px;
                    img {
                        width: auto;
                    }
                }
            }
        }
    }
}

.news_home {
    .title_news_home {
        font-size: 17px;
        color: $color_white;
        text-transform: uppercase;
        background-color: $color_blue;
        padding: 10px 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        margin-bottom: 5px;
    }
    .list_news {
        border: 1px solid $color_gray;
        padding-bottom: 15px !important;
        li {
            border: none !important;
            .news_desc {
                padding-left: 0;
                .desc {
                    h3 {
                        height: 45px;
                        a {
                            display: block;
                            line-height: 20px;
                        }
                    }
                    span {
                        color: $color_note;
                        font-size: 11px;
                    }
                }
            }
        }
        .news_more {
            a {
                color: $color_red;
                font-size: 13px;
                padding: 30px 15px 10px 10px;
            }
        }
    }
}

.content_home {
    @extend .product_new;
    padding: 0 0 30px 0;
    .list_product {
        ul {
            li {
                .state {
                    width: 55px;
                    height: 55px;
                    font-size: 13px;
                    color: $color_white;
                    text-align: center;
                    line-height: 55px;
                }
            }
        }
        .cate_product {
            .children {
                float: left;
                padding-top: 3px;
                a {
                    color: $color_black;
                    font-size: 17px;
                    margin-left: 10px;
                }
                &:last-child {
                    span {
                        display: none;
                        visibility: hidden;
                    }
                }
                .cat_bg_home_product {
                    width: 2px;
                    height: 18px;
                    background-color: black;
                    display: inline-block;
                    margin-bottom: -3px;
                }
            }
            .title_product {
                margin-left: 0;
                float: left;
                a {
                    color: $color_white;
                }
            }
        }
        .list_item {
            clear: left;
            .status_stock {
                position: absolute;
                left: 0;
                top: 0;
                img {
                    width: auto;
                }
            }
        }
    }
}

.status_stock {
    position: absolute;
    left: 0;
    top: 0;
    img {
        width: auto;
    }
}
