.introduce_bg {
    p {
        // word-break: break-all;
        img {
            max-width: 100%;
        }
    }
    img {
        max-width: 100%;
    }
}

#loader_page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: auto;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    display: none;
    background: rgba(100,100,100,0.4);
    img {
        display: block;
        line-height: 100%;
        width: 200px;
        top: 50%;
        position: absolute;
        margin: auto;
        text-align: center;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
    }
}
#sort_product {
    margin-top: 30px;
}