.search_img_result {
	width: 66px;
	height: 44px;
}
#wpns_search_form {
	.product-categories {
		i {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
	.results {
		.list-results {
			.post-row {
				a {
					color: black;
					text-decoration: none;
					i {
						float: left;
						margin-right: 7px;
					}
					h3 {
						font-size: 12px;
						margin:0;
					}
					.price {
						color: $color_red_plus;
						margin-top: 10px;
						display: block;
					}
				}
			}
		}
	}
}