.page_cart {
    clear: left;
    .woocommerce-cart-form {
        table {
            thead {
                background-color: $color_blue;
                color: $color_white;
                tr {
                    th {
                        text-align: center;
                        position: relative;
                        &:last-child {
                            .fa-chevron-right {
                                display: none;
                            }
                        }
                    }
                    .fa-chevron-right {
                        position: absolute;
                        right: -5px;
                        font-size: 20px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        overflow: auto;
                        border: 1px solid $color_gray;
                        .quantity-box {
                            min-width: 200px;
                            overflow: auto;
                            text-align: center;
                        }
                        a {
                            text-align: center;
                            display: block;
                            font-size: 18px;
                            color: #000000;
                            text-transform: uppercase;
                        }
                        &.product-remove {
                            a {
                                background-color: $color_yellow;
                                border-radius: 0;
                                padding: 13px 42px 26px 15px;
                                display: block;
                                font-size: 14px;
                                color: $color_white !important;
                                margin: auto;
                            }
                        }
                        span {
                            font-size: 18px;
                            color: #636363;
                        }
                        &.product-quantity {
                            .quantity {
                                border: 1px solid $color_yellow;
                                display: inline-block;
                                overflow: auto;
                                margin: auto;
                                .fa {
                                    font-size: 34px;
                                    color: $color_yellow;
                                    float: left;
                                    cursor: pointer;
                                    margin-top: -2px;
                                    z-index: 23;
                                    position: relative;
                                    background-color: $color_yellow;
                                }
                                .fa-minus-square {
                                    float: left;
                                    margin-right: -6px;
                                }
                                .fa-plus-square {
                                    float: right;
                                    margin-left: -6px;
                                }
                                input {
                                    font-size: 18px;
                                    float: left;
                                    border: none;
                                    padding-bottom: 0;
                                }
                                .minus,
                                .plus {
                                    background-color: $color_yellow;
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-collaterals {
            margin-bottom: 30px;
            text-transform: uppercase;
            .wc-proceed-to-checkout {
                float: right;
                a {
                    border-radius: 0;
                    font-size: 13px;
                }
            }
            input[name='update_cart'] {
                float: right;
                margin-right: 3px;
                text-transform: uppercase;
                border-radius: 0;
                font-size: 13px;
            }
            .order-total {
                width: 225px;
                display: block;
                float: right;
            }
            .shop_table_responsive {
                border: none;
                tbody {
                    tr {
                        td {
                            border: none;
                            span {
                                color: $color_red;
                            }
                        }
                        th {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .woocommerce-cart-form__contents {
            background-color: $color_white;
        }
        .cart-collaterals {
        	input[type=submit], .checkout-button {
        		background: $color_blue_plus;
        		border: 1px solid $color_blue_plus;
        	}
        }
    }
    #post-5 {
        h1 {
            display: none;
        }
    }
    .page_cart_list {
        padding: 0 !important;
        background-color: transparent !important;
    }
}
