.woocommerce-checkout {
    padding: 30px 0;
    .checkout_form {
        p {
            label {
                width: 100px;
                float: left;
                &[for=order_comments] {
                    display: none !important;
                }
            }
            input {
                padding: 2px 5px;
                min-width: 320px;
                width: auto !important;
                &[name=billing_phone] {
                    min-width: 100px;
                }
            }
        }
        .woocommerce-additional-fields__field-wrapper {
            .more_require {
                width: 100px;
                float: left;
            }
            #order_comments_field {
                float: left;
                textarea {
                    min-width: 320px;
                    padding: 5px;
                }
            }
        }
        .note_mess {
            clear: left;
            margin-top: 15px;
        }
    }
    .woocommerce-checkout-review-order {
        .woocommerce-checkout-payment {
            background-color: transparent !important;
            .place-order {
                padding-left: 0 !important;
                input[type=submit] {
                    float: left !important;
                    background-color: $color_yellow;
                    border-radius: 0;
                    padding: 10px 30px;
                }
            }
        }
    }
}

.checkout_payment_immediate {
    overflow: auto;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 30px;
    h3 {
        margin-top: 0;
        &.title {
            text-transform: uppercase;
            font-size: 18px;
        }
    }
    .content {
        .item {
            border: 1px solid #eee;
            padding: 10px;
            overflow: auto;
            margin-bottom: 20px;
            .img {
                padding: 0;
                text-align: center;
                img {
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
            }
            .desc {
                h3 {
                    font-size: 13px;
                    color: #2980b9;
                    margin-top: 0;
                }
            }
        }
    }
}

.page_checkout {
    #order_comments {
        &::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #fff;
        }
        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #fff;
            opacity: 1;
        }
        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #fff;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #fff;
        }
    }
}
