@mixin button_add_to_cart {
    background-color: #ed1c24;
    padding: 10px 30px;
    border-radius: 0;
    border: transparent;
    font-size: 20px;
}
.product_detail {
    clear: left;
    .breadcrumb {
        padding: 20px 15px;
        background: transparent;
        color: $color_red_plus;
    }
    .images {
        .woocommerce-product-gallery__image {
            img {
                width: 100%;
                height: auto;
            }
        }
        .image_default {
            border: 1px solid $border_img;
            padding: 2px;
            a {
                img {
                    border: 2px solid $border_img_children;
                }
            }
            img {
                width: 100%;
            }
        }
        .gallery_list {
            margin-top: 5px;
            .slick-arrow {
                display: none !important;
            }
            .list_item {
                @extend .image_default;
                margin-right: 5px;
                a {
                    img {
                        border: 1px solid $border_img_children;
                    }
                }
            }
        }
    }
    .info_fun_product {
        .title {
            margin-top: 0;
        }
        .table_add_to_cart {
            table {
                border: 1px solid #acacac;
                border-radius: 5px;
                border-collapse: separate;
                border-radius: 6px;
                overflow: hidden;
                thead {
                    background: $color_yellow;
                    th {
                        border: none;
                        color: $color_white;
                        &:last-child {
                            min-width: 120px;
                            float: right;
                            text-align: right;
                        }
                    }
                }
                tbody {
                    background-color: #ebebeb;
                    tr {
                        td {
                            border: none;
                            .quantity {
                                width: 50px;
                            }
                            input {
                                text-transform: uppercase;
                                text-align: center;
                                &:focus {
                                    outline: none;
                                }
                                &[type=text] {
                                    width: 50px;
                                }
                            }
                            .plus {
                                margin-left: -5px;
                                padding-top: 3px;
                                border: none;
                            }
                            .minus {
                                @extend .plus;
                                margin-right: -5px;
                                padding-right: 8px;
                                padding-left: 8px;
                            }
                            &:last-child {
                                float: right; // padding-right: 20px;
                            }
                        }
                    }
                }
            }
        }
        .add_cart_simple {
            .quantity {
                margin-bottom: 15px;
                border: 1px solid #f4801c;
                display: inline-block;
                overflow: auto;
                margin:auto;
                input {
                    font-size: 18px;
                    float: left;
                    border:none;
                    padding-bottom:0;
                }
                .input-text {
                    width: 50px;
                }
                .minus {
                    background-color: #f4801c;
                }
                .plus {
                    @extend .minus;
                }
            }
            .add_to_cart_button {
                @include button_add_to_cart;
                color: $color_white;
            }
            .col-md-6 {
                width: 140px;
                padding-left:0;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
            }
        }
        .social_share {
            margin: 15px 0;
        }
        .price_product_detail {
            margin: 15px 0;
            .price {
                span {
                    font-size: 18px;
                    del {
                        margin-right: 10px;
                    }
                    ins {
                        color: #ed1c24;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .product_involve {
        h3.title {
            font-size: 17px;
            text-transform: uppercase;
        }
    }
}

#click_add_to_cart {
    @include button_add_to_cart;
}

.gallery_list {
    position: relative;
}

.desc_product_detail {
    .title {
        h3 {
            font-size: 17px;
            padding: 10px 30px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            background-color: $color_blue;
            display: inline-block;
            color: $color_white;
            margin-bottom: 0;
        }
    }
    .product_description {
        border: 1px solid $color_gray;
        padding: 15px;
        margin-bottom: 15px;
        table {
            width: 100% !important;
        }
    }
}

.description {
    img,
    iframe {
        max-width: 100%;
    }
    table {
        border: 1px solid $color_gray;
        padding: 15px;
        width: auto !important;
        td,
        th {
            border: 1px solid #bfb2b2;
            padding: 5px;
        }
    }
}

.comment {
    width: 100% !important;
    .fb-comments {
        width: 100% !important;
        span {
            width: 100% !important;
            iframe {
                width: 100% !important;
            }
        }
    }
}

.social_share {
    margin: 15px 0;
}

.product_detail{
    .product_involve{
        .col-md-3{
            height: 265px;
        }
    }
}