.title-sidebar{
	text-align: center;
    padding: 7px 0px 7px 0px;
    background: #363e8b;
    border-radius: 14px 14px 0px 0px;
    text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	font-family: tahoma-regular;
}

.slibar-1{
	border: 1px solid #c2c2c2;
    border-radius: 15px 15px 0px 0px;
	margin-bottom: 15px;

	ul{
		list-style:none;
		padding-left: 10px;
		li{
			font-size: 13px;
			margin-bottom: 10px;
			a{
				margin-left: 15px;
				text-decoration: none;
				color: #000000;
				text-transform: uppercase;
				font-family: tahoma-regular;
			}

			a:hover{
				color:#f7941d;
			}
		}
	}
}

.sidebar-2{
	border: 1px solid #c2c2c2;
    border-radius: 15px 15px 0px 0px;
	margin-bottom: 15px;
    ul{
    	list-style: none;
    	padding-left:10px;
        position: relative;

        .img_hotline{
            width: 110px;
            position: absolute;
            right: 0px;
        }
        
        .title_phone{
            width: 115px;
        }

    	li{
    		text-transform: uppercase;
    		a{
    			color:#000000;
    			text-decoration: none;
    			margin-left: 5px;
    			font-size: 13px;
    			font-family: tahoma-regular;
    		}
    		i{
    			color: #00a651;
    		}
    	}
    }

    .call-sidebar{
    	font-size: 14px;
    	font-weight: 900;
    	color:#ff0000;
    }

    .hotline{
    	padding-right:10px;
    }
}

.sidebar-3{
    border: 1px solid #c2c2c2;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 15px;

    .list-category{
        list-style: none;
        padding-left: 10px;
        cursor: pointer;
        li{
            margin-bottom: 10px;
            a{
                font-size: 13px;
                font-family: tahoma-regular;
                margin-left: 10px;
                text-decoration: none;
                color:#000000;
                text-transform: uppercase;
            }
            a:hover{
                color:#f89c39;
            }
        }
    }

    .list-name-product{
        list-style:none;
        padding-left: 5px;
        display: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.sidebar-4{
    border: 1px solid #c2c2c2;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 10px;

    li{
        margin-bottom: 10px;
    }

    .news-product{
        list-style: none;
        padding-left: 10px;
    }

    .img_product{
        display: inline-block;
        border: 1px solid #c2c2c2;
        padding: 1px;

        img{
            background-size: cover;
            width: 100%;
            height: auto;
            background-position: center;
        }
    }

    .single_product{
        display: inline-block;
        float: right;
        width: 65%;
        font-size: 13px;
        font-family: tahoma-regular;

        p{
            a{
                color: #000000;
                text-decoration: none; 
            }
            a:hover{
                color:#f89c39;
            }
        }
    }
}