@font-face {
    font-family: tahoma-regular;
    src: url('../../../fonts/73-13973-tahoma.ttf');
}

.news-page{
	.image-item{
		.url_news{
			img{
			    background-size: cover;
			    width: 100%;
			    height: auto;
			    background-position: center;
			}
		}
	}
	
	.li-item{
		margin-bottom: 32px;
	}

	.item{
		list-style: none;
		padding-left:0px;
	}

	.title-post{
		margin-top:7px;
		font-size:18px;
		max-height: 35px;
		height: 35px;
	}

	.directional-page{
		.breadcrumb{
			background:none;
			li{
				display: inline-block;
				a{
					text-decoration: none;
				}
			}
		}
	}

	.content-news{
		.post_content{
			font-size: 13px;
			text-align: justify;
			font-family: tahoma-regular;
			margin: 0 0 15px;
		}

		span{
			color:#363e8b;
			font-size: 13px;
			display: block;
    		text-align: right;
			a{
				text-decoration: none;
				font-family: tahoma-regular;
			}
		}
	}

	.title-post{
		color:#363e8b;
		font-family: tahoma-regular;
	}

	.paginate {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .item {
        list-style: none;
        padding-left: 0px;
    }
    .title-post {
        margin-top: 7px;
        font-size: 18px;
        max-height: 35px;
        height: 35px;
    }
    .directional-page {
        .breadcrumb {
            background: none;
            li {
                display: inline-block;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .content-news {
        .post_content {
            font-size: 13px;
            text-align: justify;
            font-family: tahoma-regular;
            margin: 0 0 15px;
        }
        span {
            color: #363e8b;
            font-size: 13px;
            display: block;
            text-align: right;
            a {
                text-decoration: none;
                font-family: tahoma-regular;
            }
        }
    }
    .title-post {
        color: #363e8b;
        font-family: tahoma-regular;
    }
}


.chitiet_news {
    .tin_lien_quan {
        p {
            width: 250px;
            background: #2e3192;
            padding: 8px;
            text-align: center;
            color: #fff;
            border-radius: 0px 10px 0px 0px;
            margin-top: 15px;
        }
        ul {
            list-style: none;
            padding-left: 0px;
            li {
                a {
                    margin-left: 10px;
                    font-size: 13px;
                    font-family: tahoma-regular;
                    /*text-transform: uppercase;*/
                    color: #000000;
                    text-decoration: none;
                }
                i {
                    font-size: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    h3 {
        font-family: tahoma-regular;
        color: #363e8b;
        margin-bottom: 15px;
    }
}

.fb_iframe_widget {
    float: left;
    margin-right: 5px;
}

.breadcrum {
    nav {
        padding: 15px 0px 15px 0px;
    }
}

.conten_news {
    padding: 15px;
}

// ========================================

.danhmuc{
    ul{
        list-style: none;
        padding-left: 0px;

        li{
            margin-bottom: 25px;
            
            a{
                .images-danhmuc{
                    background-size: cover;
                    height: auto;
                    background-position: 50%;
                    border: 1px solid #ddd;
                }
                
                .title-danhmuc{
                    font-family: tahoma-regular;
                    color: #363e8b;
                    font-size: 15px;
                }
            }
        }
    }
}